.Person {
    align-items : center;
    width : 60%;
    margin : 16px;
    border : 1px solid #ccc;
    box-shadow: 0 6px 3px #eee;
    padding : 16px;
    text-align: center;
}

@media(min-width: 500px) {
    .Person {
        background-color: lightcoral
    }
}

